.quizz-body {
    /* margin: 5%, 13%; */
    margin: 5% 3%;
    padding: 3% 5%;
    /* padding-top: 3%; */
    background-color: #20262E;
    color: #BFACE2;
    border-radius: 25px;
}

.center {
    text-align: center;
}

body {
    background-color: #645CBB;
}

h3 {
    padding-top: 3%;
}